:root {
    --blue: #3c6382;
    --dark-blue: #0a3d62;
}

.heading{
    text-align: center;
    color : var(--blue);
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: normal;
    padding :1rem;
}

.prevent .box-container{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.prevent .box-container .box{
    flex : 1 1 20rem;
    border-radius: .5rem;
    margin :.7rem;
    padding :1rem;
    text-align: center;
}

.prevent .box-container .box img{
    height: 12rem;
    padding :1rem;
}

.prevent .box-container .box h3{
    color : var(--blue);
    font-size: 1.7rem;
}

.prevent .box-container .box p{
    color : var(--dark-blue);
    font-size:1rem;
    padding :.7rem;
    
}


